li a {
    color: green;
    background-color: blanchedalmond;
}

body {
   background: white url("/static/polls/images/fondo.webp") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;

}
